:root {
    --primary: rgb(228, 53, 105);
    --primary-hover: rgba(228, 53, 105, 0.8);
    --secondary: rgb(170, 109, 223);
    --secondary-hover: rgb(170, 109, 223, 0.8);
    --background: #2f2d39;
    --main-text: #e0e0e0;
    --sub-text: #b0b0c5;
}

/* General Styles */
body {
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color-1);
    box-sizing: border-box;
    background-color: var(--background);
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

header {
    background: rgba(50, 50, 75, 0.8);
    backdrop-filter: blur(10px);
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #38384e;
}

.header h1 {
    font-size: 1.5rem;
    color: var(--primary);
}

.header button {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: var(--main-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.header button:hover {
    background-color: var(--primary-hover);
}

/* Main */
.main {
    flex: 1;
    padding: 1.5rem;
}

.search-container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.search-container input,
.search-container select {
    flex: 1;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: var(--item-bg);
    color: var(--main-text);
    outline: none;
    transition: background 0.3s;
}

.search-container input:focus,
.search-container select:focus {
    background-color: var(--item-bg);
}

/* Bookmarks Grid */
.bookmarks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

.bookmark {
    background: var(--item-bg);
    backdrop-filter: blur(10px);
    /* margin: 0 auto; */
    /* width: 80%; */
    /* background-color: var(--background); */
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: none;
    transition: box-shadow 0.3s, transform 0.2s;
    position: relative;

}

.bookmark:hover {
    cursor: pointer;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.494);
}

.bookmark h2 {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
    color: var(--main-text);
}

.bookmark a {
    color: var(--secondary);
    text-decoration: none;
    transition: color 0.3s;
}

.bookmark a:hover {
    color: var(--secondary-hover);
}

.bookmark p {
    margin: 0.5rem 0;
    color: var(--sub-text);
}

/* View Button Style */
.view-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 1rem;
    background: none;
    color: var(--main-text);
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.875rem;
}

.view-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: invert(1) grayscale(100%) brightness(100%) sepia(0);
    cursor: pointer;
    color: var(--primary);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.view-btn img:hover {
    transform: scale(1.2);
}
