:root {
    --primary: rgb(228, 60, 110);
    --primary-hover: rgb(244, 75, 126);
    --main-text: rgb(228, 228, 228);
    --main-text-hover: rgb(255, 255, 255);
}

body {
    font-family: "Inter", Arial, sans-serif;
    width: 300px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border: 10px solid rgba(0, 0, 0, 0.6);
    margin: 0;
    backdrop-filter: blur(2px);
    background-size: cover;
    background-image: url('../assets/bg.jpg'),
        linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

h1 {
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--main-text);
    font-family: 'Georgia', serif;
    font-style: italic;
    margin: 10px;
    margin-bottom: 20px;
    text-shadow: 0 0px 20px white;
}

button {
    width: 80%;
    padding: 12px 16px;
    margin: 10px 0;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0px 20px white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-bookmark {
    color: var(--primary);
    background-color: var(--main-text);
}

.add-bookmark:hover {
    background-color: var(--main-text-hover);
}

.dashboard {
    color: var(--main-text);
    background-color: var(--primary);
}

.dashboard:hover {
    background-color: var(--primary-hover);
}
